body {
  text-align: center;
}
.container {
  background-color: #f9f9f9;
}
img {
  height: 200px;
}

@media screen and (max-width: 767px) {

  .greenback {
    background-color: lightgreen;
  }

  img {
    height: 100px;
  }

  .cademi {
    margin-top: 20px;
  }

  .border_bot {
    border-bottom: 1px solid black;
  }
  .margin_bot {
    margin-bottom: 20px;
  }

}


@media screen and (min-width: 768px) and (max-width: 991px) {

  hr {
    display: none;
  }

  img {
    height: 250px;
  }

  p {
    font-size: 22px;
  }

}
